html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #C5C6C72E;
  }
  h1 {
    font-size: 1.8rem;
    color: white;
  }
  h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: #143642;
  }
  .topnav {
    overflow: hidden;
    background-color: #45A29ED1;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
  }
  body {
    margin: 0;
  }
  .content {
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
  }
  .card {
    background-color: #fdfdfd;;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
    padding-top:10px;
    padding-bottom:20px;
  }
  .button {
    padding: 15px 50px;
    font-size: 24px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #0f8b8dd9;
    border: none;
    border-radius: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
   }
   /*.button:hover {background-color: #0f8b8d}*/
   .button:active {
     background-color: #0f8b8d;
     box-shadow: 2 2px #CDCDCD;
     transform: translateY(2px);
   }
   .state {
     font-size: 1.5rem;
     color:#8c8c8c;
     font-weight: bold;
   }
   
   #tab1,
      #tab2,
      #tab3 {
         text-align: center;
         float: left;
         padding: 5px 10px 5px 10px;
         background: #0f8b8d99;
         color: #ffffff;
         margin: 5px 5px 0px 5px;
         cursor: pointer;
         border-radius: 5px;
         box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
      }
      #tab1:hover,
      #tab2:hover,
      #tab3:hover {
         background: #ecade4;
      }
      #tab1Content,
      #tab2Content,
      #tab3Content {
         width: auto;
         height: auto;
         padding: 20px;
         border: 1px solid #66FCF1;
         border-radius: 10px;
         box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
      }
      #tab1Content,
      #tab2Content,
      #tab3Content {
         display: none;
      }